<div class="row">

  <% @cours.each do |cour| %>

    <div class="col-md-3 cour-single">
      <div class="titre">
          <form class="form-inline">
            <div class="form-group">
            <%= cour.titre %>
            </div>
          </form>
      </div>

      
      <div class="infos clearfix">
        <div class="niveau">
          <form class="form-inline">
              <div class="form-group">
              <%= cour.niveau %>
            </div>
          </form>
        </div>
        <div class="filiere">
          <form class="form-inline">
              <div class="form-group">
              <%= cour.filiere %>
              </div>
            </form>
        </div>
      </div>

      <div class="compte_dash">
          <div class="time_ago">
          <form class="form-inline">
          <div class="form-group">
               <%= link_to time_ago_in_words(cour.created_at) + ' ago', cour %>
          </div>
        </form>
        </div> 

        <div class="name-user text-right">
        <form class="form-inline">
              <div class="form-group">
              <%= cour.user.name %>
              </div>
            </form>
        </div>
      </div>
      

    </div>


    <% end %>
</div>
